module [[.module_path]]

go 1.21

require (
	github.com/toutaio/toutago v0.2.0
	github.com/toutaio/toutago-cosan-router v0.1.0
	github.com/toutaio/toutago-fith-renderer v0.1.0
	github.com/toutaio/toutago-datamapper v0.1.0
	github.com/yuin/goldmark v1.6.0
)
