[[ if eq .frontend_type "inertia-vue" -]]
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[ .app_name ]]</title>
    <link rel="stylesheet" href="/public/css/style.css">
    {{.INERTIA_HEAD}}
</head>
<body>
    <div id="app" data-page='{{.INERTIA}}'></div>
    <script type="module" src="/public/build/app.js"></script>
</body>
</html>
[[ end -]]
