{
  "name": "[[.app_name]]",
  "version": "1.0.0",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "node esbuild.config.js --watch",
    "build": "NODE_ENV=production node esbuild.config.js"
  },
  "devDependencies": {
    "esbuild": "^0.19.0",
    "esbuild-plugin-vue3": "^0.4.0"
  },
  "dependencies": {
    "vue": "^3.3.0"
  }
}
