module [[ .module_path ]]

go 1.24

require (
	github.com/toutaio/toutago-cosan-router v1.0.5
	github.com/toutaio/toutago-fith-renderer v1.0.6
	github.com/toutaio/toutago-datamapper v1.0.8
	github.com/toutaio/toutago-nasc-dependency-injector v1.0.9
	github.com/toutaio/toutago-breitheamh-auth v0.1.0
	github.com/google/uuid v1.5.0
	github.com/gorilla/sessions v1.2.2
	github.com/microcosm-cc/bluemonday v1.0.26
[[- if eq .frontend_type "inertia-vue" ]]
	github.com/toutaio/toutago-inertia v0.9.1
[[- end ]]
[[- if eq .database_type "postgres" ]]
	github.com/lib/pq v1.10.9
	github.com/toutaio/toutago-datamapper-postgres v1.0.7
[[- else if eq .database_type "mysql" ]]
	github.com/go-sql-driver/mysql v1.7.1
	github.com/toutaio/toutago-datamapper-mysql v1.0.8
[[- end ]]
)
