import { defineConfig } from 'vite'
import vue from '@vitejs/plugin-vue'

export default defineConfig({
  plugins: [vue()],
  
  build: {
    outDir: 'public/dist',
    manifest: true,
    rollupOptions: {
      input: 'frontend/app.js'
    }
  },
  
  server: {
    proxy: {
      '/api': {
        target: 'http://localhost:[[.port]]',
        changeOrigin: true
      }
    }
  }
})
